/* RESET */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

a {
	color: #fff;
}

a:hover {
	color: #1db9dd;
}

/* Menu */
.menu {
	width: 100%;
	height: 70px;
	background: #000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu-logo img {
	width: 50px;
}

.menu-logo {
	width: 20%;
	text-align: center;
}

.menu-links {
	width: 80%;
}

.menu-links ul {
	display: flex;
	justify-content: flex-end;
}

.menu-links ul li {
	padding: 10px 30px;
	color: #fff;
	font-size: 18px;
	list-style-type: none;
	cursor: pointer;
}

.menu-responsivo {
	position: fixed;
	width: 150px;
	height: 100%;
	left: 0;
	top: 0;
	background: #f4f4f4;
}

.menu-responsivo ul li a {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 7px;
	margin: 0 0 10px 0;
	display: block;
	color: #1db9dd;
	box-shadow: 0 2px 4px 0px #e1e1e1;;
}

.menu-logo-hide {
	display: none;
}

.layout1 {
	position: relative;
	transition: all .5s;
}

.layout_ativo {
	position: relative;
	margin-left: 150px;
	transition: all .5s;
}

.toggle {
	color: #fff;
	font-size: 30px;
	display: none;
}

/* Menu responsivo */
@media   (min-width: 768px) and (max-width: 1052px) {
	.menu-logo img {
		width: 45px;
	}

	.menu ul li {
		font-size: 15px;
	}
}

@media (min-width: 601px) and (max-width: 767px) {
	.menu {
		height: 50px;
	}
	
	.menu ul {
		display: none;
	}

	.menu-logo {
		padding: 5px 0 0 30px;
	}

	.menu-logo img {
		width: 35px;
	}

	.toggle {
		color: #fff;
		font-size: 30px;
		display: inline-block;
		padding-left: 20px;
	}

}

@media (min-width: 320px) and (max-width: 600px) {
	.menu {
		height: 50px;
	}
	
	.menu ul {
		display: none;
	}

	.menu-logo {
		padding: 5px 0 0 30px;
	}

	.menu-logo img {
		width: 35px;
	}

	.toggle {
		color: #fff;
		font-size: 30px;
		display: inline-block;
		padding-left: 20px;
	}
}

/* Institucional */
.instituicao {
	width: 100%;
	height: 400px;
	background-image: url(../IMG/Banner/sobre.jpeg);
	background-attachment: fixed;
	background-position:top, center;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.container_instituicao {
	width: 1349px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.imagem {
	width: 600px;
	height: 400px;
}

.texto {
	width: 600px;
	height: 400px;
	color: #fff;
	text-align: center;
	background: #1dbaddc9;
	padding: 50px 40px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.texto h1 {
	text-align: center;
	padding: 0 0 30px 0;
	color: #fff;
	font-size: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

@media   (min-width: 768px) and (max-width: 1052px) {
	.instituicao {
		width: 100%;
		height: 400px;
		background-image: url(../IMG/Banner/sobre.jpeg);
		background-attachment: fixed;
	}
	
	.container_instituicao {
		width: 100%;
		height: 400px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.imagem {
		height: 200px;
		width: 50%;
	}
	
	.texto {
		width: 50%;
		height: 270px;
		float: right;
		color: #fff;
		text-align: center;
		font-size: 12px;
		background: #1dbaddef;
		padding: 0 60px;
		margin-top: 130px;
	}
	
	.texto h1 {
		text-align: center;
		padding: 0 0 10px 0;
		color: #fff;
		font-size: 20px;

	}
}

@media   (min-width: 601px) and (max-width: 767px) {
	.instituicao {
		width: 100%;
		height: 600px;
		background-image: url(../IMG/Banner/sobre_smartphone.jpeg);
		background-attachment: fixed;
	}
	
	.container_instituicao {
		width: 100%;
		height: 600px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.imagem {
		height: 400px;
	}
	
	.texto {
		width: 100%;
		height: 250px;
		color: #fff;
		text-align: center;
		font-size: 12px;
		background: #1dbadd;
		padding: 0px 60px;
	}
	
	.texto h1 {
		text-align: center;
		padding: 0 0 10px 0;
		color: #fff;
		font-size: 20px;

	}
}

@media   (min-width: 320px) and (max-width: 600px) {
	.instituicao {
		width: 100%;
		height: 700px;
		background-image: url(../IMG/Banner/sobre_smartphone.jpeg);
		background-attachment: fixed;
	}
	
	.container_instituicao {
		width: 100%;
		height: 700px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.imagem {
		width: 100%;
		height: 400px;
	}
	
	.texto {
		width: 100%;
		height: 300px;
		color: #fff;
		text-align: center;
		font-size: 12px;
		background: #1dbadd;
		padding: 10px 20px;
	}
	
	.texto h1 {
		text-align: center;
		padding: 0 0 10px 0;
		color: #fff;
		font-size: 20px;
	}
}


/* Projetos */
.projetos {
	width: 100%;
	height: 500px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.container_projetos {
	width: 1349px;
	height: 500px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.texto2 {
	width: 500px;
	height: 400px;
	text-align: center;
	padding: 90px 20px 0px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.texto2 h1 {
	text-align: center;
	padding: 0 0 30px 0;
	color: #1db9dd;
	font-size: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.imagem2 {
	width: 600px;
	height: 500px;
}

.im1 {
	position: relative;
}

.im1 img {
	width: 450px;
	height: auto;
	position: absolute;
	top: 70px;
	left: 180px;
	z-index: 2;
	transition: all 3s;
}

.im1 img:hover {
	transform: scale(1.1);
}

.im2 {
	position: relative;
}

.im2 img {
	width: 350px;
	height: auto;
	position: absolute;
	top: 190px;
	left: 50px;
	transition: all 3s;
}

.im2 img:hover {
	transform: scale(1.2);
	z-index: 2;
}

@media   (min-width: 768px) and (max-width: 1052px) {
	.projetos {
		width: 100%;
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.container_projetos {
		width: 100%;
		height: 300px;
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.texto2 {
		width: 50%;
		height: 250px;
		color: #000;
		text-align: center;
		font-size: 12px;
		background: #fff;
		padding: 10px 60px;
		margin-top: 30px;
	}
	
	.texto2 h1 {
		text-align: center;
		padding: 0 0 10px 0;
		color: #1db9dd;
		font-size: 20px;
	}
	
	.imagem2 {
		width: 50%;
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.im1 {
		width: 50%;
		height: 300px;
		background-image: url(../IMG/Imagens_sobre/mesa.jpg)
	}

	.im2 {
		width: 50%;
		height: 300px;
		background-image: url(../IMG/Imagens_sobre/quadro.jpg)
	}

	.imagem2 img {
		display: none;
	}
}

@media   (min-width: 601px) and (max-width: 767px) {
	.projetos {
		width: 100%;
		height: 550px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.container_projetos {
		width: 100%;
		height: 550px;
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.texto2 {
		width: 100%;
		height: 250px;
		color: #000;
		text-align: center;
		font-size: 12px;
		background: #fff;
		padding: 10px 60px;
	}
	
	.texto2 h1 {
		text-align: center;
		padding: 0 0 10px 0;
		color: #1db9dd;
		font-size: 20px;
	}
	
	.imagem2 {
		width: 100%;
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.im1 {
		width: 50%;
		height: 300px;
		background-image: url(../IMG/Imagens_sobre/mesa.jpg)
	}

	.im2 {
		width: 50%;
		height: 300px;
		background-image: url(../IMG/Imagens_sobre/quadro.jpg)
	}

	.imagem2 img {
		display: none;
	}
}

@media   (min-width: 320px) and (max-width: 600px) {
	.projetos {
		width: 100%;
		height: 895px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.container_projetos {
		width: 100%;
		height: 895px;
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.texto2 {
		width: 100%;
		height: 300px;
		text-align: center;
		font-size: 12px;
		padding: 20px 20px 0px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	
	.texto2 h1 {
		text-align: center;
		padding: 0 0 10px 0;
		color: #1db9dd;
		font-size: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.imagem2 {
		width: 100%;
		height: 600px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.im1 {
		width: 100%;
		height: 300px;
		background-image: url(../IMG/Imagens_sobre/mesa.jpg)
	}

	.im2 {
		width: 100%;
		height: 300px;
		background-image: url(../IMG/Imagens_sobre/quadro.jpg)
	}

	.imagem2 img {
		display: none;
	}

}

/* Endereço */
.endereco {
	width: 100%;
	height: 500px;
	background: #000;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.container_endereco {
	width: 1349px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.imagem3 {
	width: 600px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.texto3 {
	width: 500px;
	height: 400px;
	text-align: center;
	color: #ccc;
	padding: 90px 0px 0px 60px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.texto3 h1 {
	text-align: center;
	padding: 0 0 30px 0;
	color: #1db9dd;
	font-size: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.texto3 p:nth-child(3) {
	padding: 40px 0 10px 0;
}

@media   (min-width: 768px) and (max-width: 1052px) {
	.endereco {
		width: 100%;
		height: 350px;
		background: #000;
	}
	
	.container_endereco {
		width: 100%;
		height: 350px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.imagem3 {
		width: 50%;
		height: 150px;
	}
	
	.texto3 {
		width: 50%;
		font-size: 12px;
		height: 250px;
		padding: 20px;
	}

	.texto3 h1 {
		text-align: center;
		color: #1db9dd;
		font-size: 20px;
	}
}

@media   (min-width: 601px) and (max-width: 767px) {
	.endereco {
		width: 100%;
		height: 350px;
		background: #000;
	}
	
	.container_endereco {
		width: 100%;
		height: 350px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.imagem3 {
		width: 50%;
		height: 150px;
	}
	
	.texto3 {
		width: 50%;
		font-size: 12px;
		height: 250px;
		padding: 20px;
	}

	.texto3 h1 {
		text-align: center;
		color: #1db9dd;
		font-size: 20px;
	}
}

@media   (min-width: 320px) and (max-width: 600px) {
	.endereco {
		width: 100%;
		height: 500px;
		background: #000;
	}
	
	.container_endereco {
		width: 100%;
		padding-top: 40px;
	}
	
	.imagem3 {
		width: 300px;
		height: 150px;
	}
	
	.texto3 {
		font-size: 12px;
		height: 300px;
		padding: 20px;
	}

	.texto3 h1 {
		text-align: center;
		color: #1db9dd;
		font-size: 20px;
	}
	
}

/* Rodapé */
.azul {
	width: 100%;
	height: 30px;
	background: #1db9dd;
}

.container {
	width: 100%;
	height: 90px;
	background: #000;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.institucional {
	width: 50%;
}

.institucional ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.institucional ul li {
	padding: 30px 30px;
	font-size: 18px;
	list-style-type: none;
	cursor: pointer;
}


.midia-social {
	width: 50%;
}

.midia-social ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
}

.midia-social ul li {
	padding: 30px 30px;
	font-size: 20px;
	list-style-type: none;
	cursor: pointer;
}

.midia-social i {
	color: #ccc;
}

.midia-social i:hover {
	color: #1db9dd;
}

.laranja {
	width: 100%;
	height: 40px;
	background: #ff0000;
	color: #fff;
	text-align: center;
	font-size: 15px;
}
.laranja p {
	padding: 10px;
}

@media (min-width: 768px) and (max-width: 1052px) {
	.institucional ul li {
		font-size: 15px;
		padding: 30px 15px 0;
	}

	.laranja {
		font-size: 12px;
		font-size: 0.75rem;
	}
}

@media (min-width: 601px) and (max-width: 767px) {
	.institucional {
		width: 60%;
	}
	
	.midia-social {
		width: 40%;
	}

	.institucional ul li {
		font-size: 15px;
		padding: 30px 10px 0;
	}

	.laranja {
		font-size: 12px;
		font-size: 0.75rem;
	}

}

@media (min-width: 320px) and (max-width: 600px) {
	.container {
		width: 100%;
		height: 180px;
	}
	
	.institucional {
		width: 60%;
		padding-left: 10px;
	}

	.institucional ul {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	
	.midia-social {
		width: 40%;
	}

	.midia-social ul {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		padding-top: 10px;
	}

	.midia-social ul li {
		padding: 12px 20px;
	}

	.institucional ul li {
		font-size: 15px;
		padding: 30px 10px 0;
	}

	.laranja {
		font-size: 12px;
		font-size: 0.75rem;
	}

}